<%- include('../partials/header.ejs'); %>
<style>
    .color-picker {
        background-color: none;
        outline: none;
        border: 1px solid grey;
        height: 38px;
        width: 50px;
        cursor: pointer;
    }
</style>
<body>
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/exhibits-dashboard/exhibits">
                        <i class="menu-icon fa fa-home"></i>Exhibits Home
                    </a>
                </li>
                <li class="menu-title">Menu</li>
            </ul>
            <ul class="nav navbar-nav"><li id="preview-link"></li></ul>
            <ul class="nav navbar-nav">
                <li>
                    <a id="back-to-items" href="#" data-keyboard="false">
                        <i class=" menu-icon fa fa-arrow-left"></i>Back to Timeline Items</a>
                </li>
            </ul>
            <ul id="items-menu" class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" id="logout" data-keyboard="false">
                        <i class="menu-icon fa fa-sign-out"></i>Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</aside>
<div id="right-panel" class="right-panel">
    <%- include('../partials/main-header.ejs'); %>
    <div class="content" style="min-height: 875px;">
        <div id="message"></div>
        <h1><span id="exhibit-title"></span> - Vertical Timeline Text Item</h1>
        <!-- item data card -->
        <div id="item-data-card" class="card">
            <div class="card-header">
                <strong class="card-title mb-3">Item Data</strong>
                <div class="btn-group float-right">
                    <span id="created" style="text-align: right; font-size: x-small"></span>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="row form-group">
                            <div class="col-12">
                                <div class="form-text text-muted" style="font-size: 17px">
                                    Title <small><em>(Optional)</em></small>
                                    &nbsp;&nbsp;<a onclick="helperModule.preview_html('item-title-input');return false;" data-toggle="modal" data-target=".preview-html" class="btn-xs btn-light"><span style="padding: 5px"><i class="fa fa-code"></i> <small>Preview Field</small></span></a>
                                </div>
                                <span id="item-title-error" class="is-error"></span>
                                <textarea disabled id="item-title-input" class="form-control" name="item_title_input"
                                          rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="row form-group">
                            <div class="col-12">
                                <div class="form-text text-muted" style="font-size: 17px"><span style="color: darkred">*</span>Date</div>
                                <input disabled class="form-control" id="item-date-input" type="date" value="0000-00-00" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="row form-group">
                            <div class="col-12">
                                <div class="form-text text-muted" style="font-size: 17px">Exhibit Text <small><em>(Optional)</em></small>
                                    &nbsp;&nbsp;<a onclick="helperModule.preview_html('item-text-input');return false;" data-toggle="modal" data-target=".preview-html" class="btn-xs btn-light"><span style="padding: 5px"><i class="fa fa-code"></i> <small>Preview Field</small></span></a>
                                </div>
                                <textarea disabled id="item-text-input" class="form-control" name="item_text_input"
                                          rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="row form-group">
                            <div class="col-12">
                                <div class="form-text text-muted" style="font-size: 17px">Pop-up Window Description <small><em>(Optional)</em></small>
                                    &nbsp;&nbsp;<a onclick="helperModule.preview_html('item-description-input');return false;" data-toggle="modal" data-target=".preview-html" class="btn-xs btn-light"><span style="padding: 5px"><i class="fa fa-code"></i> <small>Preview Field</small></span></a>
                                </div>
                                <textarea disabled id="item-description-input" class="form-control" name="item_description_input"
                                          rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="row form-group">
                            <div class="col-12">
                                <div class="form-text text-muted" style="font-size: 17px">Caption <small><em>(Optional)</em></small>
                                    &nbsp;&nbsp;<a onclick="helperModule.preview_html('item-caption-input');return false;" data-toggle="modal" data-target=".preview-html" class="btn-xs btn-light"><span style="padding: 5px"><i class="fa fa-code"></i> <small>Preview Field</small></span></a>
                                </div>
                                <textarea disabled id="item-caption-input" class="form-control" name="item_caption_input" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
        <!--
        <div id="item-styles-card" class="card">
            <div class="card-header">
                <strong class="card-title mb-3">Item Styles</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 col-md-6">
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <p>
                                <div class="form-text text-muted" style="font-size: 17px">
                                    <label for="item-background-color">Item Background Color</label>
                                </div>
                                </p>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <input disabled title="Color Picker" class="color-picker btn btn-default" type="color"
                                               id="item-background-color-picker" value="#ffffff">
                                    </div>
                                    <input disabled type="text" id="item-background-color" name="item_background_color"
                                           placeholder="i.e. #FFFFFF" class="form-control" style="height: 40px">

                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <p>
                                <div class="form-text text-muted" style="font-size: 17px">
                                    <label for="item-font-size">Item Font Size</label>
                                </div>
                                </p>
                                <div class="input-group">
                                    <input disabled type="number" id="item-font-size" name="item_font_size"
                                           placeholder="" class="form-control" min="1" max="50" style="height: 40px">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">px</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-6">
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <p>
                                <div class="form-text text-muted" style="font-size: 17px">
                                    <label for="item-font-color">Item Font Color</label>
                                </div>
                                </p>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <input disabled title="Color Picker" class="color-picker btn btn-default" type="color"
                                               id="item-font-color-picker"
                                               value="#ffffff">
                                    </div>
                                    <input disabled type="text" id="item-font-color" name="item_font_color"
                                           placeholder="i.e. #FFFFFF" class="form-control" style="height: 40px">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <p>
                                <div class="form-text text-muted" style="font-size: 17px">
                                    <label for="item-font">Item Font</label>
                                </div>
                                </p>
                                <div class="input-group">
                                    <select disabled name="item_font" id="item-font"
                                            class="form-control-lg form-control text-muted" style="height: 40px">
                                        <option value="">Select From Menu</option>
                                        <option value="">----------</option>
                                        <%- include('../../exhibits/partials/exhibit-fonts-options-list.ejs'); %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
        <div id="item-submit-card" class="card">
            <div class="card-body">
                <button class="btn btn-primary" type="button" id="edit-item-btn">
                    <i class="fa fa-edit"></i>&nbsp;&nbsp;Edit
                </button>&nbsp;&nbsp;<span class="alert alert-warning"><i class="fa fa-warning"></i> Changes made to published exhibit timeline items are immediately visible to the public</span>
                <button class="btn btn-primary" type="button" id="save-item-btn" style="visibility: hidden">
                    <i class="fa fa-save"></i>&nbsp;&nbsp;Save
                </button>
            </div>
            <div class="card-footer text-muted"><small>Vertical Timeline Item</small></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <%- include('../partials/footer.ejs'); %>
    <%- include('../partials/preview-html-modal.ejs'); %>
</div>
<!-- libs -->
<%- include('../partials/exhibits-libs-common.ejs'); %>
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<!-- app -->
<%- include('../partials/exhibits-app-common.ejs'); %>
<script src="/exhibits-dashboard/static/app/dist/uploads.module.min.js?<%=build_version%>"></script>
<script src="/exhibits-dashboard/static/app/dist/exhibits.module.min.js?<%=build_version%>"></script>
<script src="/exhibits-dashboard/static/app/dist/items.module.min.js?<%=build_version%>"></script>
<script src="/exhibits-dashboard/static/app/dist/items.common.vertical.timeline.item.form.module.min.js?<%=build_version%>"></script>
<script src="/exhibits-dashboard/static/app/dist/items.edit.vertical.timeline.item.form.module.min.js?<%=build_version%>"></script>
<script>
    itemsCommonVerticalTimelineItemFormModule.init();
    itemsEditTimelineItemFormModule.init();
    document.querySelector('#edit-item-btn').addEventListener('click', (event) => {
        event.preventDefault();
        document.querySelector('.content').style.visibility = 'hidden';
        const exhibit_id = helperModule.get_parameter_by_name('exhibit_id');
        const timeline_id = helperModule.get_parameter_by_name('timeline_id');
        const item_id = helperModule.get_parameter_by_name('item_id');
        window.location.replace(`/exhibits-dashboard/items/vertical-timeline/item/text/edit?exhibit_id=${exhibit_id}&timeline_id=${timeline_id}&item_id=${item_id}`);
        return false;
    });
</script>
</body>
</html>