<%- include('../partials/header.ejs'); %>
<style>
    .color-picker {
        background-color: none;
        outline: none;
        border: 1px solid grey;
        height: 38px;
        width: 50px;
        cursor: pointer;
    }
</style>
<body>
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/exhibits-dashboard/exhibits">
                        <i class="menu-icon fa fa-home"></i>Exhibits Home
                    </a>
                </li>
                <li class="menu-title">Menu</li>
            </ul>
            <ul class="nav navbar-nav">
                <li id="preview-link"></li>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                    <a id="back-to-items" href="#" data-keyboard="false">
                        <i class=" menu-icon fa fa-arrow-left"></i>Back to Exhibit Items</a>
                </li>
            </ul>
            <ul id="items-menu" class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" id="logout" data-keyboard="false">
                        <i class="menu-icon fa fa-sign-out"></i>Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</aside>
<div id="right-panel" class="right-panel">
    <%- include('../partials/main-header.ejs'); %>
    <div class="content" style="min-height: 875px;">
        <div id="message"></div>
        <h1><span id="exhibit-title"></span> - Text Item</h1>

        <%- include('partials/item-data-card.ejs'); %>
        <%- include('partials/standard-item-styles.ejs'); %>

        <input type="radio"
               name="layout"
               id="item-layout-text-only"
               value="text_only" checked style="visibility: hidden" />
        <input type="radio" name="media_width" id="item-width-50" value="50" checked style="visibility: hidden"/>
        <div id="item-submit-card" class="card">
            <div class="card-body">
                <button class="btn btn-primary" type="button" id="save-item-btn">
                    <i class="fa fa-save"></i>&nbsp;&nbsp;Save
                </button>
            </div>
            <div class="card-footer text-muted"><small>Item</small></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <%- include('../partials/footer.ejs'); %>
    <%- include('../partials/preview-html-modal.ejs'); %>
</div>
<!-- libs -->
<%- include('../partials/exhibits-libs-common.ejs'); %>
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<!-- app -->
<%- include('../partials/exhibits-app-common.ejs'); %>

<script src="/exhibits-dashboard/static/app/dist/exhibits.module.min.js?<%=build_version%>"></script>
<script src="/exhibits-dashboard/static/app/dist/items.module.min.js?<%=build_version%>"></script>
<script src="/exhibits-dashboard/static/app/dist/items.common.standard.item.form.module.min.js?<%=build_version%>"></script>
<script src="/exhibits-dashboard/static/app/dist/items.add.standard.item.form.module.min.js?<%=build_version%>"></script>
<script>
    itemsCommonStandardItemFormModule.init();
    itemsAddStandardItemFormModule.init();
</script>
</body>
</html>