<%- include('../partials/header.ejs'); %>
<body>
<%- include('../partials/nav-dashboard'); %>
<div id="right-panel" class="right-panel">
    <%- include('../partials/main-header.ejs'); %>
    <main id="main" class="content" tabindex="-1">
        <div id="message"></div>
        <h1><span id="exhibit-title"></span> - Media Item</h1>
        <%- include('partials/item-data-card.ejs'); %>
        <%- include('../partials/item-styles-card.ejs'); %>
        <div id="item-media-card" class="card">
            <div class="card-header">
                <strong class="card-title mb-3">Item Media</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 col-md-6">
                        <div id="item-media-display" class="media-preview-area">
                            <div class="media-placeholder">
                                <i class="fa fa-file-o" aria-hidden="true"></i>
                                <span>No media selected</span>
                            </div>
                        </div>
                        <p>
                            <span id="item-media-filename-display"></span>&nbsp;&nbsp;
                            <span><a id="item-media-trash" title="Remove media" href="#"
                                     style="display:none"><i class="fa fa-trash" aria-hidden="true"></i></a></span>
                        </p>
                        <input type="hidden" id="item-media-uuid" name="item_media_uuid">
                        <input type="hidden" id="item-media-uuid-prev" name="item_media_uuid_prev">
                        <input type="hidden" id="item-media-type" name="item_media_type">
                        <input type="hidden" id="item-mime-type" name="item_mime_type">
                        <button type="button" class="btn btn-outline-primary"
                                id="pick-item-media-btn">
                            <i class="fa fa-file-o" aria-hidden="true"></i>&nbsp;Select Media
                        </button>
                    </div>
                    <div class="col-6 col-md-6">
                        <div id="thumbnail-image-display" class="media-preview-area">
                            <div class="media-placeholder">
                                <i class="fa fa-picture-o" aria-hidden="true"></i>
                                <span>No image selected</span>
                            </div>
                        </div>
                        <p>
                            <span id="thumbnail-filename-display"></span>&nbsp;&nbsp;
                            <span><a id="thumbnail-trash" title="Remove thumbnail" href="#"
                                     style="display:none"><i class="fa fa-trash" aria-hidden="true"></i></a></span>
                        </p>
                        <input type="hidden" id="thumbnail-media-uuid" name="thumbnail_media_uuid">
                        <input type="hidden" id="thumbnail-media-uuid-prev" name="thumbnail_media_uuid_prev">
                        <button type="button" class="btn btn-outline-primary"
                                id="pick-thumbnail-btn"
                                data-media-type-filter="image">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp;Select Thumbnail
                        </button>
                    </div>
                </div>

                <div id="pdf-open-to-page-group" class="row mt-3" style="display: none;">
                    <div class="col-sm-4">
                        <label class="sr-only" for="pdf-open-to-page">Open PDF to page</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Open PDF to page</div>
                            </div>
                            <input type="number" class="form-control" id="pdf-open-to-page" min="1" value="1">
                        </div>
                        <small class="form-text text-muted"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> <em>The viewer will automatically open to the page entered</em></small>
                    </div>
                </div>

                <%- include('partials/item-alt-text.ejs'); %>
                <%- include('partials/wrap-text-item.ejs'); %>
                <%- include('../partials/embed-item.ejs'); %>
                <%- include('partials/media-padding.ejs'); %>

            </div>
        </div>

        <div id="item-layout-card" class="card">
            <div class="card-header">
                <strong class="card-title mb-3">Item Layout</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4 col-md-4">
                        <p><img src="/exhibits-dashboard/static/images/item_layout_text_left_media_right.png"
                                width="135" height="135" alt=""></p>
                        <p>
                            <label class="btn btn-default" for="item-layout-media-right" style="font-size: 14px">Media right, text left
                                <input type="radio"
                                       name="layout"
                                       id="item-layout-media-right"
                                       value="media_right" checked/>
                            </label>
                        </p>
                    </div>
                    <div class="col-4 col-md-4">
                        <p><img src="/exhibits-dashboard/static/images/item_layout_media_top_text_bottom.png"
                                width="135" height="135" alt=""></p>
                        <p>
                            <label class="btn btn-default" for="item-layout-media-top" style="font-size: 14px">Media top, text below
                                <input type="radio"
                                       name="layout"
                                       id="item-layout-media-top"
                                       value="media_top"/>
                            </label>
                        </p>
                    </div>
                    <div class="col-4 col-md-4">
                        <p><img src="/exhibits-dashboard/static/images/item_layout_text_top_media_bottom.png"
                                width="135" height="135" alt=""></p>
                        <p>
                            <label class="btn btn-default" for="item-layout-media-bottom" style="font-size: 14px">Text top, media below
                                <input type="radio"
                                       name="layout"
                                       id="item-layout-media-bottom"
                                       value="media_bottom"/>
                            </label>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-md-4">
                        <p><img src="/exhibits-dashboard/static/images/item_layout_media_only.png"
                                width="135" height="135" alt=""></p>
                        <p>
                            <label class="btn btn-default" for="item-layout-media-only" style="font-size: 14px">Media only
                                <input type="radio"
                                       name="layout"
                                       id="item-layout-media-only"
                                       value="media_only"/>
                            </label>
                        </p>
                    </div>
                    <div class="col-4 col-md-4">
                        <p><img src="/exhibits-dashboard/static/images/item_layout_media_left_text_right.png"
                                width="135" height="135" alt=""></p>
                        <p>
                            <label class="btn btn-default" for="item-layout-media-left" style="font-size: 14px">Media left, text right
                                <input type="radio"
                                       name="layout"
                                       id="item-layout-media-left"
                                       value="media_left"/>
                            </label>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="item-media-widths-card" class="card">
            <div class="card-header">
                <strong class="card-title mb-3">Item Media Widths</strong>
            </div>
            <div class="card-body">
                <%- include('partials/item-media-widths.ejs'); %>
            </div>
        </div>

        <input type="hidden" id="is-published" name="is_published">
        <div id="exhibit-submit-card" class="card">
            <div class="card-body">
                <button class="btn btn-primary" type="button" id="save-item-btn">
                    <i class="fa fa-save" aria-hidden="true"></i>&nbsp;&nbsp;Save
                </button>
                <button class="btn btn-outline-secondary ms-2" type="button" id="cancel-exhibit-btn">
                    <i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;Cancel
                </button>
            </div>
            <div class="card-footer text-muted"><small>Item</small></div>
        </div>
    </main>
    <div class="clearfix"></div>
    <%- include('../partials/footer.ejs'); %>
    <%- include('../partials/preview-html-modal.ejs'); %>
    <%- include('../partials/media-picker-modal.ejs'); %>
</div>
<!-- libs -->
<%- include('../partials/exhibits-libs-common.ejs'); %>
<!-- app -->
<%- include('../partials/exhibits-app-common.ejs'); %>
<script src="/exhibits-dashboard/static/app/dist/exhibits.module.min.js?<%=build_version%>"></script>
<script src="/exhibits-dashboard/static/app/dist/items.module.min.js?<%=build_version%>"></script>
<script src="/exhibits-dashboard/static/app/dist/media.picker.module.min.js?<%=build_version%>"></script>
<script src="/exhibits-dashboard/static/app/dist/items.common.standard.item.form.module.min.js?<%=build_version%>"></script>
<script src="/exhibits-dashboard/static/app/dist/items.edit.standard.item.form.module.min.js?<%=build_version%>"></script>
<script>
    itemsCommonStandardItemFormModule.init();
    itemsEditStandardItemFormModule.init();
    mediaPickerModule.init();
    navModule.wire_nav_links();

    const exhibit_id = helperModule.get_parameter_by_name('exhibit_id');
    const cancel_exhibit_btn = document.getElementById('cancel-exhibit-btn');

    cancel_exhibit_btn.addEventListener('click', function () {
        const has_unsaved_changes = check_for_unsaved_changes();
        if (has_unsaved_changes) {
            const confirm_cancel = confirm('Discard unsaved changes and return to the exhibit item list?');
            if (!confirm_cancel) return;
        }
        // Redirect
        window.location.href = `/exhibits-dashboard/items?exhibit_id=${exhibit_id}`;
    });

    function check_for_unsaved_changes() {
        const inputs = document.querySelectorAll('input, textarea, select');
        return Array.from(inputs).some(input => input.defaultValue !== input.value);
    }

</script>
</body>
</html>