<%- include('../partials/header.ejs'); %>
<body>
<%- include('../partials/nav-dashboard'); %>
<div id="right-panel" class="right-panel">
    <%- include('../partials/main-header.ejs'); %>
    <main id="main" class="content" tabindex="-1">
        <div id="message"></div>
        <h1><span id="exhibit-title"></span></h1>
        <!-- styles -->
        <%- include('partials/exhibit-styles.ejs'); %>
        <div id="exhibit-submit-card" class="card">
            <div class="card-body">
                <button class="btn btn-primary" type="button" id="save-exhibit-btn">
                    <i class="fa fa-save" aria-hidden="true"></i>&nbsp;&nbsp;Save
                </button>
                <button class="btn btn-outline-secondary ms-2" type="button" id="cancel-exhibit-btn">
                    <i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;Cancel
                </button>
            </div>
            <div class="card-footer text-muted"><small>Exhibit Styles</small></div>
        </div>
    </main>
    <div class="clearfix"></div>
    <%- include('../partials/footer.ejs'); %>
</div>
<!-- libs -->
<%- include('../partials/exhibits-libs-common.ejs'); %>
<!-- app -->
<%- include('../partials/exhibits-app-common.ejs'); %>
<script src="/exhibits-dashboard/static/app/dist/exhibits.styles.module.min.js?<%=build_version%>"></script>
<script src="/exhibits-dashboard/static/app/dist/exhibits.styles.form.module.min.js?<%=build_version%>"></script>
<script>
    exhibitsStylesFormModule.init();
    navModule.wire_nav_links();
</script>
</body>
</html>
