<%- include('partials/header.ejs'); %>
<body>
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav"></ul>
        </div>
    </nav>
</aside>
<div id="right-panel" class="right-panel">
    <%- include('partials/main-header.ejs'); %>
    <main id="main" class="content" tabindex="-1">
        <h1 class="visually-hidden">Sign in to Exhibits Builder</h1>
        <div id="app-message">
            <% if (typeof is_dev_env !== 'undefined' && is_dev_env) { %>
                <div class="alert alert-danger">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    <strong>"STOP! Do not use Development Site"</strong>&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-info" href="https://exhibits-backend.library.du.edu/exhibits-dashboard/auth" target="_blank">Go to Live Site </a>
                </div>
            <% } %>
        </div>
        <div class="alert alert-primary" role="alert"><span id="message">Exhibits Builder Dashboard Login</span></div>
        <p>
            <a href="/exhibits-dashboard/auth/login" class="btn btn-primary" type="button">Authenticate <i class="fa fa-sign-in" aria-hidden="true"></i></a>
        </p>
    </main>
    <div class="clearfix"></div>
    <script>window.sessionStorage.clear();</script>
    <script src="/exhibits-dashboard/static/libs/axios-2.x/dist/axios.min.js"></script>
    <script src="/exhibits-dashboard/static/app/dist/http.module.min.js?<%=build_version%>"></script>
    <script src="/exhibits-dashboard/static/app/dist/helper.module.min.js?<%=build_version%>"></script>
    <%- include('partials/footer.ejs'); %>
</div>
