<%- include('partials/header.ejs'); %>
<body>
<%- include('partials/nav-dashboard.ejs'); %>
<div id="right-panel" class="right-panel">
    <%- include('partials/main-header.ejs'); %>
    <main id="main" class="content" tabindex="-1">
        <h1 class="visually-hidden">Access denied</h1>
        <div id="message">
            <div class="alert alert-danger" role="alert">
                <i class="fa fa-exclamation" aria-hidden="true"></i> You do not have permission to perform this action.
            </div>
        </div>
    </main>
    <div class="clearfix"></div>
    <%- include('partials/footer.ejs'); %>
</div>
<!-- libs -->
<%- include('partials/exhibits-libs-common.ejs'); %>
<!-- app -->
<%- include('partials/exhibits-app-common.ejs'); %>
<script>
    navModule.wire_nav_links();
</script>
</body>
</html>
