<%- include('partials/header.ejs'); %>
<style>
    .color-picker {
        background-color: none;
        outline: none;
        border: 1px solid grey;
        height: 38px;
        width: 50px;
        cursor: pointer;
    }
</style>
<body>
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/exhibits-dashboard/exhibits">
                        <i class="menu-icon fa fa-home"></i>Exhibits Home
                    </a>
                </li>
                <li class="menu-title">Menu</li>
            </ul>
            <ul class="nav navbar-nav"><li id="preview-link"></li></ul>
            <ul class="nav navbar-nav">
                <li>
                    <a id="back-to-items" href="#" data-keyboard="false">
                        <i class=" menu-icon fa fa-arrow-left"></i>Back to Items</a>
                </li>
            </ul>
            <ul id="items-menu" class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" id="logout" data-keyboard="false">
                        <i class="menu-icon fa fa-sign-out"></i>Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</aside>
<div id="right-panel" class="right-panel">
    <%- include('partials/main-header.ejs'); %>
    <div class="content" style="min-height: 875px;">
        <div id="message"></div>
        <div id="item-data-card" class="card">
            <div class="card-header">
                <strong class="card-title mb-3"><span id="exhibit-title"></span> - Grid Item</strong>
                <div class="btn-group float-right">
                    <span id="created" style="text-align: right; font-size: x-small"></span>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="row form-group">
                            <div class="col-12">
                                <div class="form-text text-muted" style="font-size: 17px">
                                    Title
                                    &nbsp;&nbsp;<a onclick="helperModule.preview_html('item-title-input');return false;" data-toggle="modal" data-target=".preview-html" class="btn-xs btn-light"><span style="padding: 5px"><i class="fa fa-code"></i> <small>Preview Field</small></span></a>
                                </div>
                                <span id="item-title-error" class="is-error"></span>
                                <textarea disabled id="item-title-input" class="form-control" name="item_title_input"
                                          rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="row form-group">
                            <div class="col-12">
                                <div class="form-text text-muted" style="font-size: 17px">Text
                                    &nbsp;&nbsp;<a onclick="helperModule.preview_html('item-text-input');return false;" data-toggle="modal" data-target=".preview-html" class="btn-xs btn-light"><span style="padding: 5px"><i class="fa fa-code"></i> <small>Preview Field</small></span></a>
                                </div>
                                <textarea disabled id="item-text-input" class="form-control" name="item_text_input"
                                          rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="row form-group">
                            <div class="col-12">
                                <div class="form-text text-muted" style="font-size: 17px">Description
                                    &nbsp;&nbsp;<a onclick="helperModule.preview_html('item-description-input');return false;" data-toggle="modal" data-target=".preview-html" class="btn-xs btn-light"><span style="padding: 5px"><i class="fa fa-code"></i> <small>Preview Field</small></span></a>
                                </div>
                                <textarea disabled id="item-description-input" class="form-control" name="item_description_input"
                                          rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="row form-group">
                            <div class="col-12">
                                <div class="form-text text-muted" style="font-size: 17px">Caption
                                    &nbsp;&nbsp;<a onclick="helperModule.preview_html('item-caption-input');return false;" data-toggle="modal" data-target=".preview-html" class="btn-xs btn-light"><span style="padding: 5px"><i class="fa fa-code"></i> <small>Preview Field</small></span></a>
                                </div>
                                <textarea disabled id="item-caption-input" class="form-control" name="item_caption_input" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="item-media-card" class="card">
            <div class="card-header">
                <strong class="card-title mb-3">Item Media</strong>
            </div>
            <div class="card-body">
                <div class="container">
                    <ul class="nav nav-tabs" id="mediaTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="upload-media-tab" data-toggle="tab" href="#upload-media"
                               role="tab" aria-controls="upload-media" aria-selected="true">Upload Media</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="import-audio-video-tab" data-toggle="tab" href="#import-audio-video"
                               role="tab" aria-controls="import-audio-video" aria-selected="false">Import
                                Audio/Video</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="import-repo-media-tab" data-toggle="tab" href="#import-repo-media"
                               role="tab" aria-controls="import-repo-media" aria-selected="false">Import Repository
                                Media</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="mediaTabContent">
                        <div class="tab-pane fade show active" id="upload-media" role="tabpanel"
                             aria-labelledby="upload-media-tab">
                            <div class="row">
                                <span class="upload-error"></span>
                                <div class="col-6 col-md-6">
                                    <div class="col-12">
                                        <p>
                                            <br>
                                            <span id="item-media-thumbnail-image-display"></span>
                                            <span id="item-media-filename-display"></span>&nbsp;&nbsp;
                                            <span id="item-thumbnail-image-prev"></span>
                                            <span>
                                        <a id="item-media-trash" title="Trash" href="#" style="visibility: hidden"><i
                                                    class="fa fa-trash"></i></a>
                                    </span>
                                        </p>
                                        <input type="hidden" id="item-media" name="item_media">
                                        <input type="hidden" id="item-type" name="item_type">
                                        <input type="hidden" id="item-mime-type" name="item-mime_type">
                                        <input type="hidden" id="item-media-prev" name="item-media-prev">
                                    </div>
                                </div>
                                <div class="col-6 col-md-6">
                                    <div class="col-12">
                                        <p>
                                            <br>
                                            <span id="item-thumbnail-image-display"></span>
                                            <span id="item-thumbnail-filename-display"></span>&nbsp;&nbsp;
                                            <span>
                                             <a id="item-thumbnail-trash" title="Trash" href="#"
                                                style="visibility: hidden"><i class="fa fa-trash"></i></a>
                                            </span>
                                        </p>
                                        <input type="hidden" id="item-thumbnail" name="item_thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div id="toggle-open-to-page" style="visibility: hidden">
                                <p>
                                <div class="col-sm-4 my-1">
                                    <label class="sr-only" for="pdf-open-to-page">Open PDF to page</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">Open PDF to page</div>
                                        </div>
                                        <input type="number" class="form-control" id="pdf-open-to-page" min="1"
                                               value="1">
                                    </div>
                                </div>
                                <small class="form-text text-muted"><i class="fa fa-exclamation-circle"></i> <em>The
                                        viewer will automatically open
                                        to the page entered</em></small>
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="import-audio-video" role="tabpanel"
                             aria-labelledby="import-audio-video-tab">

                            <div class="col-12 col-md-12">
                                <p>
                                <form class="row form-group">
                                    <input disabled type="text" id="audio-video" name="audio_video"
                                           placeholder="Kaltura ID" class="form-control">

                                    <br><br>
                                    <div class="form-text text-muted" style="font-size: 17px">
                                        <p>
                                            <span style="color: darkred">*</span>
                                            <small><em>Please choose an item type</em></small>
                                        </p>
                                    </div>
                                    <p>
                                        <label class="btn btn-default" for="item-type-audio" style="font-size: 15px">Audio
                                            <input disabled type="radio"
                                                   name="item_type"
                                                   id="item-type-audio"
                                                   value="audio" checked/>
                                        </label>
                                    </p>
                                    <p>
                                        <label class="btn btn-default" for="item-type-video" style="font-size: 15px">Video
                                            <input disabled type="radio"
                                                   name="item_type"
                                                   id="item-type-video"
                                                   value="video"/>
                                        </label>
                                    </p>
                                    <input type="hidden" id="is-kaltura-item" name="is_kaltura_item" value="0">
                                </form>
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="import-repo-media" role="tabpanel"
                             aria-labelledby="import-repo-media-tab">
                            <div class="col-12 col-md-12">
                                <p>
                                <form class="row form-group">
                                    <div class="col-7 col-md-7">
                                        <input disabled type="text" class="form-control" id="repo-uuid" name="repo_uuid"
                                               placeholder="Repository record UUID">
                                        <input type="hidden" id="is-repo-item" name="is_repo_item" value="0">
                                    </div>
                                    <div class="col-auto">
                                        <button disabled type="button" id="repo-uuid-btn"
                                                class="btn btn-secondary mb-3">Get item metadata
                                        </button>
                                    </div>
                                </form>
                                <div id="repo-item-metadata"></div>
                                <p id="tn"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <span id="image-alt-text" style="display: none;">
                <hr>
                <div class="col-12 col-md-12">
                    <div class="row form-group">
                        <p style="padding-top: 20px">
                            <small class="form-text text-muted"><i class="fa fa-exclamation-circle"></i> <em>Decorative alt text are those that do not add any important information or context to the page content and are used primarily for visual appeal</em></small>
                            <label for="is-alt-text-decorative">Image alt text is decorative&nbsp;
                                <input type="checkbox" id="is-alt-text-decorative" name="is_alt_text_decorative">
                            </label>
                        </p>
                    <div id="is-decorative-toggle" style="padding-bottom: 20px;">
                    <div class="form-text text-muted" style="font-size: 17px">
                        Image alt text <small><em>(<span
                                        style="color: darkred">*</span> Required if not decorative)</em></small>
                        <small class="form-text text-muted"><i class="fa fa-exclamation-circle"></i> <em>Alternative text (Alt
                        Text)
                        is a short description added to images on a webpage to enhance accessibility and optimize for
                        search
                        engines</em></small>
                    </div>
                    <span id="item-alt-text-error" class="is-error"></span>
                    <textarea id="item-alt-text-input" class="form-control" name="item_alt_text_input"
                              rows="4"></textarea>
                    </div>
                </div>
            </div>
            </span>
                <hr>
                <div class="col-8 col-md-8">
                    <div class="row form-group">
                        <p style="padding-top: 20px">
                            <small class="form-text text-muted"><i class="fa fa-exclamation-circle"></i> <em>Embedded
                                    items do not
                                    open the item viewer (popup window) and are interactive on the exhibit template</em></small>
                            <label for="embed-item">Embed item&nbsp;
                                <input disabled type="checkbox" id="embed-item" name="embed_item">
                            </label>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="col-3 col-md-3">
                    <div class="row form-group">
                        <p style="padding-top: 20px">
                            <small class="form-text text-muted"><i class="fa fa-exclamation-circle"></i> <em>Removes
                                    padding around item media</em></small>
                            <label for="media-padding">Remove Media Padding&nbsp;
                                <input disabled type="checkbox" id="media-padding" name="media-padding">
                            </label>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div id="item-layout-card" class="card">
            <div class="card-header">
                <strong class="card-title mb-3">Item Layout</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4 col-md-4">
                        <p style="height: 135px"><img src="/exhibits-dashboard/static/images/item_layout_text_left_media_right.png" height="100"></p>
                        <p>
                            <label class="btn btn-default" for="item-layout-media-right" style="font-size: 15px">Text media pair, media on the right
                                <input disabled type="radio"
                                       name="layout"
                                       id="item-layout-media-right"
                                       value="media_right" checked/>
                            </label>
                        </p>
                    </div>
                    <div class="col-4 col-md-4">
                        <p><img src="/exhibits-dashboard/static/images/item_layout_media_top_text_bottom.png" width="145" height="135"></p>
                        <p>
                            <label class="btn btn-default" for="item-layout-media-top" style="font-size: 15px">Text media pair,
                                text below media
                                <input disabled type="radio"
                                       name="layout"
                                       id="item-layout-media-top"
                                       value="media_top"/>
                            </label>
                        </p>
                    </div>
                    <div class="col-4 col-md-4">
                        <p><img src="/exhibits-dashboard/static/images/item_layout_text_top_media_bottom.png" width="135" height="135"></p>
                        <p>
                            <label class="btn btn-default" for="item-layout-media-bottom" style="font-size: 15px">Text media
                                pair, text above the media
                                <input disabled type="radio"
                                       name="layout"
                                       id="item-layout-media-bottom"
                                       value="media_bottom"/>
                            </label>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-md-4">
                        <p style="height: 135px"><img src="/exhibits-dashboard/static/images/item_layout_media_only.png" height="100"></p>
                        <p>
                            <label class="btn btn-default" for="item-layout-media-only" style="font-size: 15px">Media only, no text
                                <input disabled type="radio"
                                       name="layout"
                                       id="item-layout-media-only"
                                       value="media_only"/>
                            </label>
                        </p>
                    </div>
                    <!--
                    <div class="col-4 col-md-4">
                        <p style="height: 135px"><img src="/exhibits-dashboard/static/images/item_layout_text_only.png" height="100"></p>
                        <p>
                            <label class="btn btn-default" for="item-layout-text-only" style="font-size: 15px">Text only, no media
                                <input disabled type="radio"
                                       name="layout"
                                       id="item-layout-text-only"
                                       value="text_only"/>
                            </label>
                        </p>
                    </div>
                    -->
                    <div class="col-4 col-md-4">
                        <p style="height: 135px"><img src="/exhibits-dashboard/static/images/item_layout_media_left_text_right.png" height="100"></p>
                        <p>
                            <label class="btn btn-default" for="item-layout-media-left" style="font-size: 15px">Text media pair, media on the left
                                <input disabled type="radio"
                                       name="layout"
                                       id="item-layout-media-left"
                                       value="media_left"/>
                            </label>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="item-media-widths-card" class="card">
            <div class="card-header">
                <strong class="card-title mb-3">Item Media Widths</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4 col-md-4">
                        <p style="height: 65px"><img src="/exhibits-dashboard/static/images/media_25_width.png"></p>
                        <p>
                            <label class="btn btn-default" for="item-width-quarter" style="font-size: 14px">Media width is 25% of the exhibit item
                                <input disabled type="radio" name="media_width" id="item-width-quarter" value="25"/>
                            </label>
                        </p>
                    </div>
                    <div class="col-4 col-md-4">
                        <p style="height: 65px"><img src="/exhibits-dashboard/static/images/media_33_width.png"></p>
                        <p>
                            <label class="btn btn-default" for="item-width-33" style="font-size: 14px">Media width is 33% of the exhibit item
                                <input disabled type="radio" name="media_width" id="item-width-33" value="33"/>
                            </label>
                        </p>
                    </div>
                    <div class="col-4 col-md-4">
                        <p style="height: 65px"><img src="/exhibits-dashboard/static/images/media_50_width.png"></p>
                        <p>
                            <label class="btn btn-default" for="item-width-50" style="font-size: 14px">Media width is 50% of the exhibit item
                                <input disabled type="radio" name="media_width" id="item-width-50" value="50" checked/>
                            </label>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-md-4">
                        <p style="height: 65px"><img src="/exhibits-dashboard/static/images/media_66_width.png"></p>
                        <p>
                            <label class="btn btn-default" for="item-width-66" style="font-size: 14px">Media width is 66% of the exhibit item
                                <input disabled type="radio" name="media_width" id="item-width-66" value="66"/>
                            </label>
                        </p>
                    </div>
                    <div class="col-4 col-md-4">
                        <p style="height: 65px"><img src="/exhibits-dashboard/static/images/media_75_width.png"></p>
                        <p>
                            <label class="btn btn-default" for="item-width-75" style="font-size: 14px">Media width is 75% of the exhibit item
                                <input disabled type="radio" name="media_width" id="item-width-75" value="75"/>
                            </label>
                        </p>
                    </div>
                    <div class="col-4 col-md-4">
                        <p style="height: 65px"><img src="/exhibits-dashboard/static/images/media_100_width.png"></p>
                        <p>
                            <label class="btn btn-default" for="item-width-100" style="font-size: 14px">Media width 100% of the exhibit item
                                <input disabled type="radio" name="media_width" id="item-width-100" value="100"/>
                            </label>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div id="item-styles-card" class="card">
            <div class="card-header">
                <strong class="card-title mb-3">Item Styles</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 col-md-6">
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <input disabled title="Color Picker" class="color-picker btn btn-default" type="color"
                                               id="item-background-color-picker" value="#ffffff">
                                    </div>
                                    <input disabled type="text" id="item-background-color" name="item_background_color"
                                           placeholder="i.e. #FFFFFF" class="form-control" style="height: 40px">

                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <div class="input-group">
                                    <input disabled type="number" id="item-font-size" name="item_font_size"
                                           placeholder="Item Font Size" class="form-control" min="1" max="50" style="height: 40px">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">px</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-6">
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <input disabled title="Color Picker" class="color-picker btn btn-default" type="color"
                                               id="item-font-color-picker"
                                               value="#ffffff">
                                    </div>
                                    <input disabled type="text" id="item-font-color" name="item_font_color"
                                           placeholder="i.e. #FFFFFF" class="form-control" style="height: 40px">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <div class="input-group">
                                    <select disabled name="item_font" id="item-font"
                                            class="form-control-lg form-control text-muted" style="height: 40px">
                                        <option value="">Select From Menu</option>
                                        <option value="">----------</option>
                                        <%- include('partials/exhibit-fonts-options-list.ejs'); %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="item-submit-card" class="card">
            <div class="card-body">
                <button class="btn btn-primary" type="button" id="edit-item-btn">
                    <i class="fa fa-edit"></i>&nbsp;&nbsp;Edit
                </button>&nbsp;&nbsp;<span class="alert alert-warning"><i class="fa fa-warning"></i> Changes made to published exhibit grid items are immediately visible to the public</span>
                <button class="btn btn-primary" type="button" id="save-item-btn" style="visibility: hidden">
                    <i class="fa fa-save"></i>&nbsp;&nbsp;Save
                </button>
            </div>
            <div class="card-footer text-muted"><small>Item</small></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <%- include('partials/footer.ejs'); %>
    <%- include('partials/preview-html-modal.ejs'); %>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<script src="/exhibits-dashboard/static/libs/axios-2.x/dist/axios.min.js"></script>
<script src="/exhibits-dashboard/static/libs/dompurify/purify.min.js"></script>
<script src="/exhibits-dashboard/static/app/http.module.js"></script>
<script src="/exhibits-dashboard/static/app/helper.module.js"></script>
<script src="/exhibits-dashboard/static/app/endpoints.module.js"></script>
<script src="/exhibits-dashboard/static/app/auth.module.js"></script>
<script src="/exhibits-dashboard/static/app/nav.module.js"></script>
<script src="/exhibits-dashboard/static/app/uploads.module.js"></script>
<script src="/exhibits-dashboard/static/app/exhibits.module.js"></script>
<script src="/exhibits-dashboard/static/app/items.module.js"></script>
<script src="/exhibits-dashboard/static/app/items.common.grid.item.form.module.js"></script>
<script src="/exhibits-dashboard/static/app/items.edit.grid.item.form.module.js"></script>
<script>
    itemsCommonGridItemFormModule.init();
    itemsEditGridItemFormModule.init();
    document.querySelector('#edit-item-btn').addEventListener('click', (event) => {
        event.preventDefault();
        document.querySelector('.content').style.visibility = 'hidden';
        const exhibit_id = helperModule.get_parameter_by_name('exhibit_id');
        const grid_id = helperModule.get_parameter_by_name('grid_id');
        const item_id = helperModule.get_parameter_by_name('item_id');
        window.location.replace(`/exhibits-dashboard/items/grid/item/media/edit?exhibit_id=${exhibit_id}&grid_id=${grid_id}&item_id=${item_id}`);
        return false;
    });
</script>
</body>
</html>