<%- include('partials/header.ejs'); %>
<style>
    .color-picker {
        background-color: none;
        outline: none;
        border: 1px solid grey;
        height: 38px;
        width: 50px;
        cursor: pointer;
    }
</style>
<body>
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/exhibits-dashboard/exhibits">
                        <i class="menu-icon fa fa-home"></i>Exhibits Home
                    </a>
                </li>
                <li class="menu-title">Menu</li>
            </ul>
            <ul class="nav navbar-nav"><li id="preview-link"></li></ul>
            <ul class="nav navbar-nav">
                <li>
                    <a id="back-to-items" href="#" data-keyboard="false">
                        <i class=" menu-icon fa fa-arrow-left"></i>Back to Items</a>
                </li>
            </ul>
            <ul id="items-menu" class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" id="logout" data-keyboard="false">
                        <i class="menu-icon fa fa-sign-out"></i>Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</aside>

<div id="right-panel" class="right-panel">
    <%- include('partials/main-header.ejs'); %>
    <div class="content" style="min-height: 875px;">
        <div id="message"></div>
        <div id="item-data-card" class="card">
            <div class="card-header">
                <strong class="card-title mb-3">Edit Item in '<span id="exhibit-title"></span>' exhibit</strong>
            </div>
            <div class="card-body">
                <div class="alert alert-info"><i class="fa fa-info"></i> Provide info to user about this form</div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="row form-group">
                            <div class="col-12">
                                <div class="form-text text-muted" style="font-size: 17px">
                                    Title <small><em>(Optional)</em></small>
                                </div>
                                <small class="form-text text-muted"><i class="fa fa-exclamation-circle"></i> <em>The item title becomes a subheading in the navigation</em></small>
                                <span id="item-title-error" class="is-error"></span>
                                <div id="item-title-input" style="height: 100px"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="row form-group">
                            <div class="col-12">
                                <div class="form-text text-muted" style="font-size: 17px">Text <small><em>(Optional)</em></small></div>
                                <div id="item-text-input" style="height: 100px"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="row form-group">
                            <div class="col-12">
                                <small class="form-text text-muted"><i class="fa fa-exclamation-circle"></i> <em>Text will be wrapped around item by default</em></small>
                                <label class="form-text text-muted" style="font-size: 17px" for="media-padding">Wrap Text&nbsp;
                                    <input type="checkbox" id="wrap-text" name="wrap_text">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="row form-group">
                            <div class="col-12">
                                <div class="form-text text-muted" style="font-size: 17px">Caption <small><em>(Optional)</em></small></div>
                                <textarea id="item-caption-input" class="form-control" name="item_caption_input" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="item-media-card" class="card">
            <div class="card-header">
                <strong class="card-title mb-3">Item Media</strong>
            </div>
            <div class="card-body">
                <div class="alert alert-info">
                    <i class="fa fa-info"></i> <span id="info-message">Provide info to user about uploading exhibit media</span>
                </div>
                <div class="container">
                    <ul class="nav nav-tabs" id="mediaTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="upload-media-tab" data-toggle="tab" href="#upload-media" role="tab" aria-controls="upload-media" aria-selected="true">Upload Media</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="import-audio-video-tab" data-toggle="tab" href="#import-audio-video" role="tab" aria-controls="import-audio-video" aria-selected="false">Import Audio/Video</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="import-repo-media-tab" data-toggle="tab" href="#import-repo-media" role="tab" aria-controls="import-repo-media" aria-selected="false">Import Repository Media</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="media-padding-tab" data-toggle="tab" href="#media-padding" role="tab" aria-controls="media-padding" aria-selected="false">Media Padding</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="mediaTabContent">
                        <div class="tab-pane fade show active" id="upload-media" role="tabpanel" aria-labelledby="upload-media-tab"><%- include('partials/tab-upload-media.ejs'); %></div>
                        <div class="tab-pane fade" id="import-audio-video" role="tabpanel" aria-labelledby="import-audio-video-tab"><%- include('partials/tab-import-audio-video.ejs'); %></div>
                        <div class="tab-pane fade" id="import-repo-media" role="tabpanel" aria-labelledby="import-repo-media-tab"><%- include('partials/tab-import-repo-media.ejs'); %></div>
                        <div class="tab-pane fade" id="media-padding" role="tabpanel" aria-labelledby="media-padding-tab"><%- include('partials/tab-media-padding.ejs'); %></div>
                    </div>
                </div>
                <%- include('partials/embed-item.ejs'); %>
            </div>
        </div>
        <div id="item-layout-card" class="card">
            <div class="card-header">
                <strong class="card-title mb-3">Item Layout</strong>
            </div>
            <div class="card-body">
                <div class="alert alert-info">
                    <i class="fa fa-info"></i> <span id="info-message">Provide info to user about item layouts</span>
                </div>
                <div class="row">
                    <div class="col-4 col-md-4">
                        <p style="height: 135px"><img src="/exhibits-dashboard/static/images/item_layout_text_left_media_right.png" height="100"></p>
                        <p>
                            <label class="btn btn-default" for="item-layout-media-right" style="font-size: 15px">Text media pair, media on the right
                                <input type="radio"
                                       name="layout"
                                       id="item-layout-media-right"
                                       value="media_right" checked/>
                            </label>
                        </p>
                    </div>
                    <div class="col-4 col-md-4">
                        <p><img src="/exhibits-dashboard/static/images/item_layout_media_top_text_bottom.png" width="145" height="135"></p>
                        <p>
                            <label class="btn btn-default" for="item-layout-media-top" style="font-size: 15px">Text media pair,
                                text below media
                                <input type="radio"
                                       name="layout"
                                       id="item-layout-media-top"
                                       value="media_top"/>
                            </label>
                        </p>
                    </div>
                    <div class="col-4 col-md-4">
                        <p><img src="/exhibits-dashboard/static/images/item_layout_text_top_media_bottom.png" width="135" height="135"></p>
                        <p>
                            <label class="btn btn-default" for="item-layout-media-bottom" style="font-size: 15px">Text media
                                pair, text above the media
                                <input type="radio"
                                       name="layout"
                                       id="item-layout-media-bottom"
                                       value="media_bottom"/>
                            </label>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-md-4">
                        <p style="height: 135px"><img src="/exhibits-dashboard/static/images/item_layout_media_only.png" height="100"></p>
                        <p>
                            <label class="btn btn-default" for="item-layout-media-only" style="font-size: 15px">Media only, no text
                                <input type="radio"
                                       name="layout"
                                       id="item-layout-media-only"
                                       value="media_only"/>
                            </label>
                        </p>
                    </div>
                    <div class="col-4 col-md-4">
                        <p style="height: 135px"><img src="/exhibits-dashboard/static/images/item_layout_text_only.png" height="100"></p>
                        <p>
                            <label class="btn btn-default" for="item-layout-text-only" style="font-size: 15px">Text only, no media
                                <input type="radio"
                                       name="layout"
                                       id="item-layout-text-only"
                                       value="text_only"/>
                            </label>
                        </p>
                    </div>
                    <div class="col-4 col-md-4">
                        <p style="height: 135px"><img src="/exhibits-dashboard/static/images/item_layout_media_left_text_right.png" height="100"></p>
                        <p>
                            <label class="btn btn-default" for="item-layout-media-left" style="font-size: 15px">Text media pair, media on the left
                                <input type="radio"
                                       name="layout"
                                       id="item-layout-media-left"
                                       value="media_left"/>
                            </label>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="item-media-widths-card" class="card">
            <div class="card-header">
                <strong class="card-title mb-3">Item Media Widths</strong>
            </div>
            <div class="card-body">
                <div class="alert alert-info">
                    <i class="fa fa-info"></i> <span
                            id="info-message">Provide info to user about media widths</span>
                </div>
                <%- include('partials/item-media-widths.ejs'); %>
            </div>
        </div>
        <div id="item-styles-card" class="card">
            <div class="card-header">
                <strong class="card-title mb-3">Item Styles</strong>
            </div>
            <div class="card-body">
                <div class="alert alert-info">
                    <i class="fa fa-info"></i> <span id="info-message">Provide info to user about item styles</span>
                </div>
                <div class="row">
                    <div class="col-6 col-md-6">
                        <p>
                        <div class="form-text text-muted" style="font-size: 17px">
                            <label for="item-background-color">Item Background Color</label>
                        </div>
                        </p>
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <input title="Color Picker" class="color-picker btn btn-default" type="color"
                                               id="item-background-color-picker" value="#ffffff">
                                    </div>
                                    <input type="text" id="item-background-color" name="item_background_color"
                                           placeholder="i.e. #FFFFFF" class="form-control" style="height: 40px">

                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <p>
                                <div class="form-text text-muted" style="font-size: 17px">
                                    <label for="item-font-size">Item Font Size</label>
                                </div>
                                </p>
                                <div class="input-group">
                                    <input type="number" id="item-font-size" name="item_font_size"
                                           placeholder="" class="form-control" min="1" max="50" style="height: 40px">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">px</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-6">
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <p>
                                <div class="form-text text-muted" style="font-size: 17px">
                                    <label for="item-font-color">Item Font Color</label>
                                </div>
                                </p>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <input title="Color Picker" class="color-picker btn btn-default" type="color"
                                               id="item-font-color-picker"
                                               value="#ffffff">
                                    </div>
                                    <input type="text" id="item-font-color" name="item_font_color"
                                           placeholder="i.e. #FFFFFF" class="form-control" style="height: 40px">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <p>
                                <div class="form-text text-muted" style="font-size: 17px">
                                    <label for="item-font">Item Font</label>
                                </div>
                                </p>
                                <div class="input-group">
                                    <select name="item_font" id="item-font"
                                            class="form-control-lg form-control text-muted" style="height: 40px">
                                        <option value="">----------</option>
                                        <%- include('partials/exhibit-fonts-options-list.ejs'); %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="exhibit-submit-card" class="card">
            <div class="card-body">
                <button class="btn btn-primary" type="button" id="update-item-btn">
                    <i class="fa fa-save"></i>&nbsp;&nbsp;Save
                </button>
            </div>
            <div class="card-footer text-muted"><small>Item</small></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <%- include('partials/footer.ejs'); %>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<script src="/exhibits-dashboard/static/libs/richtexteditor/rte.js"></script>
<script src='/exhibits-dashboard/static/libs/richtexteditor/plugins/all_plugins.js'></script>
<script src="/exhibits-dashboard/static/libs/axios-2.x/dist/axios.min.js"></script>
<script src="/exhibits-dashboard/static/libs/dompurify/purify.min.js"></script>
<script src="/exhibits-dashboard/static/app/http.module.js"></script>
<script src="/exhibits-dashboard/static/app/helper.module.js"></script>
<script src="/exhibits-dashboard/static/app/endpoints.module.js"></script>
<script src="/exhibits-dashboard/static/app/auth.module.js"></script>
<script src="/exhibits-dashboard/static/app/nav.module.js"></script>
<script src="/exhibits-dashboard/static/app/uploads.module.js"></script>
<script src="/exhibits-dashboard/static/app/exhibits.module.js"></script>
<script src="/exhibits-dashboard/static/app/items.module.js"></script>
<script src="/exhibits-dashboard/static/app/items.common.standard.item.form.module.js"></script>
<script src="/exhibits-dashboard/static/app/items.edit.standard.item.form.module.js"></script>
<script>
    itemsCommonStandardItemFormModule.init();
    itemsEditStandardItemFormModule.init();
    navModule.init();
</script>
</body>
</html>