<%- include('partials/header.ejs'); %>
<body>
<%- include('partials/nav-dashboard.ejs'); %>
<div id="right-panel" class="right-panel">
    <%- include('partials/main-header.ejs'); %>
    <div class="content" style="min-height: 875px;">
        <div id="message">
            <div class="alert alert-danger" role="alert">
                <i class="fa fa-exclamation"></i> You do not have permission to perform this action.
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <%- include('partials/footer.ejs'); %>
</div>
<!-- libs -->
<%- include('partials/exhibits-libs-common.ejs'); %>
<!-- app -->
<%- include('partials/exhibits-app-common.ejs'); %>
<script>
    navModule.wire_nav_links();
</script>
</body>
</html>
