<%- include('partials/header.ejs'); %>
<style>
    .color-picker {
        background-color: none;
        outline: none;
        border: 1px solid grey;
        height: 38px;
        width: 50px;
        cursor: pointer;
    }
</style>
<body>
<%- include('partials/nav.ejs'); %>
<div id="right-panel" class="right-panel">
    <%- include('partials/main-header.ejs'); %>
    <div class="content" style="min-height: 875px;">
        <div id="exhibit-data-card" class="card">
            <div class="card-header">
                <strong class="card-title mb-3"><span id="exhibit-title"></span></strong>
                <div class="btn-group float-right">
                    <span id="created" style="text-align: right; font-size: x-small"></span>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="row form-group">
                            <div class="col-12">
                                <div class="form-text text-muted" style="font-size: 17px">
                                    Title
                                    &nbsp;&nbsp;<a onclick="helperModule.preview_html('exhibit-title-input');return false;" data-toggle="modal" data-target=".preview-html" class="btn-xs btn-light"><span style="padding: 5px"><i class="fa fa-code"></i> <small>Preview Field</small></span></a>
                                </div>
                                <span id="exhibit-title-error" class="is-error"></span>
                                <textarea disabled id="exhibit-title-input" class="form-control" name="exhibit_title_input"
                                          rows="4"></textarea>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="row form-group">
                            <div class="col-12">
                                <div class="form-text text-muted" style="font-size: 17px">Sub Title
                                    &nbsp;&nbsp;<a onclick="helperModule.preview_html('exhibit-sub-title-input');return false;" data-toggle="modal" data-target=".preview-html" class="btn-xs btn-light"><span style="padding: 5px"><i class="fa fa-code"></i> <small>Preview Field</small></span></a>
                                </div>
                                <textarea disabled id="exhibit-sub-title-input" class="form-control" name="exhibit_sub_title_input"
                                          rows="4"></textarea>

                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="col-6 col-md-6">
                        <div class="row form-group">
                            <div class="col-12">
                                <div class="form-text text-muted" style="font-size: 17px">Alert Text
                                    &nbsp;&nbsp;<a onclick="helperModule.preview_html('exhibit-alert-text-input');return false;" data-toggle="modal" data-target=".preview-html" class="btn-xs btn-light"><span style="padding: 5px"><i class="fa fa-code"></i> <small>Preview Field</small></span></a>
                                </div>

                                <textarea disabled id="exhibit-alert-text-input" class="form-control" name="exhibit_alert_text_input"
                                          rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="row form-group">
                            <div class="col-12">
                                <div class="form-text text-muted" style="font-size: 17px">Introduction
                                    &nbsp;&nbsp;<a onclick="helperModule.preview_html('exhibit-description-input');return false;" data-toggle="modal" data-target=".preview-html" class="btn-xs btn-light"><span style="padding: 5px"><i class="fa fa-code"></i> <small>Preview Field</small></span></a>
                                </div>
                                <textarea disabled id="exhibit-description-input" class="form-control" name="exhibit_description_input"
                                          rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="row form-group">
                            <div class="col-12">
                                <div class="form-text text-muted" style="font-size: 17px">About the curators
                                    &nbsp;&nbsp;<a onclick="helperModule.preview_html('exhibit-about-the-curators-input');return false;" data-toggle="modal" data-target=".preview-html" class="btn-xs btn-light"><span style="padding: 5px"><i class="fa fa-code"></i> <small>Preview Field</small></span></a>
                                </div>
                                <textarea disabled id="exhibit-about-the-curators-input" class="form-control" name="exhibit_about_the_curators_input"
                                          rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="row form-group">
                            <div class="col-12">
                                <p style="padding-top: 20px">
                                    <small class="form-text text-muted"><i class="fa fa-exclamation-circle"></i> <em>Exhibit will be featured on the main page</em></small>
                                    <label for="is-featured">Feature exhibit&nbsp;
                                        <input disabled type="checkbox" id="is-featured" name="is_featured">
                                    </label>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="row form-group">
                            <div class="col-12">
                                <p style="padding-top: 20px">
                                    <small class="form-text text-muted"><i class="fa fa-exclamation-circle"></i> <em>Student curated exhibit</em></small>
                                    <label for="is-student-curated">Student Curated&nbsp;
                                        <input disabled type="checkbox" id="is-student-curated" name="is_student-curated">
                                    </label>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-6">
                        <div class="row form-group">
                            <div class="col-12">
                                <p style="padding-top: 20px">
                                    <small class="form-text text-muted"><i class="fa fa-exclamation-circle"></i> <em>Click to add content disclaimer</em></small>
                                    <label for="is-content-advisory">Harmful Content Disclaimer&nbsp;
                                        <input disabled type="checkbox" id="is-content-advisory" name="is_content_advisory">
                                    </label>
                                    <small id="exhibit-content-advisory" class="form-text text-muted">
                                        "Content Advisory: This exhibit may include materials containing racist, colonialist, or otherwise harmful content. Some items may be upsetting or traumatizing. Please engage with care."
                                    </small>
                                    <input type="hidden"
                                           id="exhibit-alert-text-input"
                                           name="exhibit_alert_text_input"
                                           value="Content Advisory: This exhibit may include materials containing racist, colonialist, or otherwise harmful content. Some items may be upsetting or traumatizing. Please engage with care.">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="exhibit-media-card" class="card">
            <div class="card-header">
                <strong class="card-title mb-3">Exhibit Media</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 col-md-6">
                        <div class="col-12">
                            <div id="hero-image-display"></div>
                            <p style="visibility: hidden"><span id="hero-image-filename-display"></span>&nbsp;&nbsp;

                                <span><a id="hero-trash" title="Delete hero image" href="#"><i class="fa fa-trash"></i></a></span>
                            </p>
                            <input type="hidden" id="hero-image" name="hero_image">
                            <input type="hidden" id="hero-image-prev" name="hero_image-prev">
                        </div>
                    </div>
                    <div class="col-6 col-md-6">
                        <div class="col-12">
                            <div id="thumbnail-image-display"></div>
                            <p style="visibility: hidden">
                                <span id="thumbnail-filename-display"></span>&nbsp;&nbsp;
                                <span><a id="thumbnail-trash" title="Delete thumbnail" href="#"><i class="fa fa-trash"></i></a></span>
                            </p>
                            <input type="hidden" id="thumbnail-image" name="thumbnail">
                            <input type="hidden" id="thumbnail-image-prev" name="thumbnail-prev">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="exhibit-banner-card" class="card">
            <div class="card-header">
                <strong class="card-title mb-3">Exhibit Banner</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4 col-md-4">
                        <p><img src="/exhibits-dashboard/static/images/banner_1.png"></p>
                        <p>
                            <label class="btn btn-default" for="exhibit-banner-1">
                                <input disabled type="radio" class="btn-check" name="banner_template"
                                       id="exhibit-banner-1" value="banner_1" autocomplete="off" checked/>
                                <span style="font-size: 12px">Hero image above description, no title</span>
                            </label>
                        </p>
                    </div>
                    <div class="col-4 col-md-4">
                        <p><img src="/exhibits-dashboard/static/images/banner_2.png"></p>
                        <p>
                            <label class="btn btn-default" for="exhibit-banner-2">
                                <input disabled type="radio" class="btn-check" name="banner_template"
                                       id="exhibit-banner-2" value="banner_2" autocomplete="off"/>
                                <span style="font-size: 12px">Hero image above title and description</span>
                            </label>
                        </p>
                    </div>
                    <div class="col-4 col-md-4">
                        <p><img src="/exhibits-dashboard/static/images/banner_3.png"></p>
                        <p>
                            <label class="btn btn-default" for="exhibit-banner-3">
                                <input disabled type="radio" class="btn-check" name="banner_template"
                                       id="exhibit-banner-3" value="banner_3" autocomplete="off"/>
                                <span style="font-size: 12px">Hero image above description, title text over image</span>
                            </label>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-md-4">
                        <p><img src="/exhibits-dashboard/static/images/banner_4.png"></p>
                        <p>
                            <label class="btn btn-default" for="exhibit-banner-4">
                                <input disabled type="radio" class="btn-check" name="banner_template"
                                       id="exhibit-banner-4" value="banner_4" autocomplete="off"/>
                                <span style="font-size: 12px">Hero image and title text above description</span>
                            </label>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="exhibit-page-layout-card" class="card">
            <div class="card-header">
                <strong class="card-title mb-3">Exhibit Page Layout</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 col-md-6">
                        <p><img src="/exhibits-dashboard/static/images/page_layout_1.png"></p>
                        <p>
                            <label class="btn btn-default" for="exhibit-page-layout-1">
                                <input disabled type="radio" class="btn-check" name="page_layout"
                                       id="exhibit-page-layout-1" value="top_nav" autocomplete="off" checked/>
                                <span style="font-size: 12px">Exhibit navigation bar at the top of the page</span>
                            </label>
                        </p>
                    </div>
                    <div class="col-6 col-md-6">
                        <p><img src="/exhibits-dashboard/static/images/page_layout_2.png"></p>
                        <p>
                            <label class="btn btn-default" for="exhibit-page-layout-2">
                                <input disabled type="radio" class="btn-check" name="page_layout"
                                       id="exhibit-page-layout-2" value="side_nav" autocomplete="off"/>
                                <span style="font-size: 12px">Exhibit navigation sidebar</span>
                            </label>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="exhibit-styles-card" class="card">
            <div class="card-header">
                <strong class="card-title mb-3">Exhibit Styles</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4 col-md-4">
                        <p>
                    <span class="form-text text-muted"
                          style="font-size: 14px"><strong>Apply Styles to Exhibit Introduction</strong></span>
                        </p>
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <p>
                                <div class="form-text text-muted" style="font-size: 13px">
                                    <label for="introduction-background-color">Introduction Background Color</label>
                                </div>
                                </p>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <input disabled title="Color Picker" class="color-picker btn btn-default" type="color"
                                               id="introduction-background-color-picker" value="#ffffff">
                                    </div>
                                    <input disabled type="text" id="introduction-background-color" name="introduction_background_color"
                                           placeholder="i.e. #FFFFFF" class="form-control" style="height: 40px">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <p>
                                <div class="form-text text-muted" style="font-size: 13px">
                                    <label for="introduction-font-color">Introduction Font Color</label>
                                </div>
                                </p>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <input disabled title="Color Picker" class="color-picker btn btn-default" type="color"
                                               id="introduction-font-color-picker"
                                               value="#ffffff">
                                    </div>
                                    <input disabled type="text" id="introduction-font-color" name="nav_font_color"
                                           placeholder="i.e. #FFFFFF" class="form-control" style="height: 40px">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <p>
                                <div class="form-text text-muted" style="font-size: 13px">
                                    <label for="introduction-font-size">Introduction Font Size</label>
                                </div>
                                </p>
                                <div class="input-group">
                                    <input disabled type="number" id="introduction-font-size" name="introduction_font_size"
                                           placeholder="" class="form-control" min="1" max="50" style="height: 40px">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">px</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <p>
                                <div class="form-text text-muted" style="font-size: 13px">
                                    <label for="introduction_font">Introduction Font</label>
                                </div>
                                </p>
                                <div class="input-group">
                                    <select disabled name="introduction_font" id="introduction-font"
                                            class="form-control-lg form-control text-muted" style="height: 40px">
                                        <option value="">Select From Menu</option>
                                        <option value="">----------</option>
                                        <%- // include('exhibit-fonts-options-list.ejs'); %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-md-4">
                        <p>
                    <span class="form-text text-muted"
                          style="font-size: 14px"><strong>Apply Styles to Navigation Menu</strong></span>
                        </p>
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <p>
                                <div class="form-text text-muted" style="font-size: 13px">
                                    <label for="nav-background-color">Navigation Background Color</label>
                                </div>
                                </p>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <input disabled title="Color Picker" class="color-picker btn btn-default" type="color"
                                               id="nav-background-color-picker" value="#ffffff">
                                    </div>
                                    <input disabled type="text" id="nav-background-color" name="nav_background_color"
                                           placeholder="i.e. #FFFFFF" class="form-control" style="height: 40px">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <p>
                                <div class="form-text text-muted" style="font-size: 13px">
                                    <label for="nav-font-color">Navigation Font Color</label>
                                </div>
                                </p>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <input disabled title="Color Picker" class="color-picker btn btn-default" type="color"
                                               id="nav-font-color-picker"
                                               value="#ffffff">
                                    </div>
                                    <input disabled type="text" id="nav-font-color" name="nav_font_color"
                                           placeholder="i.e. #FFFFFF" class="form-control" style="height: 40px">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <p>
                                <div class="form-text text-muted" style="font-size: 13px">
                                    <label for="nav-font-size">Navigation Font Size</label>
                                </div>
                                </p>
                                <div class="input-group">
                                    <input disabled type="number" id="nav-font-size" name="nav_font_size"
                                           placeholder="" class="form-control" min="1" max="50" style="height: 40px">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">px</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <p>
                                <div class="form-text text-muted" style="font-size: 13px">
                                    <label for="nav_font">Navigation Font</label>
                                </div>
                                </p>
                                <div class="input-group">
                                    <select disabled name="nav_font" id="nav-font"
                                            class="form-control-lg form-control text-muted" style="height: 40px">
                                        <option value="">Select From Menu</option>
                                        <option value="">----------</option>
                                        <%- // include('exhibit-fonts-options-list.ejs'); %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-md-4">
                        <p>
                            <span class="form-text text-muted"
                                  style="font-size: 14px"><strong>Apply Styles to Exhibit</strong></span>
                        </p>
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <p>
                                <div class="form-text text-muted" style="font-size: 13px">
                                    <label for="template-background-color">Exhibit Background Color</label>
                                </div>
                                </p>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <input disabled title="Color Picker" class="color-picker btn btn-default" type="color"
                                               id="template-background-color-picker" value="#ffffff">
                                    </div>
                                    <input disabled type="text" id="template-background-color" name="template_background_color"
                                           placeholder="i.e. #FFFFFF" class="form-control" style="height: 40px">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <p>
                                <div class="form-text text-muted" style="font-size: 13px">
                                    <label for="template-font-color">Exhibit Font Color</label>
                                </div>
                                </p>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <input disabled title="Color Picker" class="color-picker btn btn-default" type="color"
                                               id="template-font-color-picker"
                                               value="#ffffff">
                                    </div>
                                    <input disabled type="text" id="template-font-color" name="template_font_color"
                                           placeholder="i.e. #FFFFFF" class="form-control" style="height: 40px">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <p>
                                <div class="form-text text-muted" style="font-size: 13px">
                                    <label for="template-font-size">Exhibit Font Size</label>
                                </div>
                                </p>
                                <div class="input-group">
                                    <input disabled type="number" id="template-font-size" name="template_font_size"
                                           placeholder="" class="form-control" min="1" max="50" style="height: 40px">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">px</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-12 col-md-12">
                                <p>
                                <div class="form-text text-muted" style="font-size: 13px">
                                    <label for="template-font">Exhibit Font</label>
                                </div>
                                </p>
                                <div class="input-group">
                                    <select disabled name="template_font" id="template-font"
                                            class="form-control-lg form-control text-muted" style="height: 40px">
                                        <option value="">Select From Menu</option>
                                        <option value="">----------</option>
                                        <%- // include('exhibit-fonts-options-list.ejs'); %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="exhibit-submit-card" class="card">
            <div class="card-body">
                <input type="hidden" name="exhibit_template" id="exhibit-template"
                       value="vertical_scroll"/>
                <a href="#" class="btn btn-primary" type="button" id="edit-exhibit-btn">
                    <i class="fa fa-edit"></i>&nbsp;&nbsp;Edit
                </a>&nbsp;&nbsp;<span class="alert alert-warning"><i class="fa fa-warning"></i> Changes made to published exhibits are immediately visible to the public</span>
                <button disabled class="btn btn-primary" type="button" id="save-exhibit-btn" style="visibility: hidden">
                    <i class="fa fa-save"></i>&nbsp;&nbsp;Save
                </button>
            </div>
            <div class="card-footer text-muted"><small>Exhibit</small></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <%- include('partials/footer.ejs'); %>
    <%- include('partials/preview-html-modal.ejs'); %>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<script src="/exhibits-dashboard/static/libs/axios-2.x/dist/axios.min.js"></script>
<script src="/exhibits-dashboard/static/libs/dompurify/purify.min.js"></script>
<script src="/exhibits-dashboard/static/app/http.module.js"></script>
<script src="/exhibits-dashboard/static/app/helper.module.js"></script>
<script src="/exhibits-dashboard/static/app/endpoints.module.js"></script>
<script src="/exhibits-dashboard/static/app/auth.module.js"></script>
<script src="/exhibits-dashboard/static/app/nav.module.js"></script>
<script src="/exhibits-dashboard/static/app/uploads.module.js"></script>
<script src="/exhibits-dashboard/static/app/exhibits.module.js"></script>
<script src="/exhibits-dashboard/static/app/exhibits.common.form.module.js"></script>
<script src="/exhibits-dashboard/static/app/exhibits.details.module.js"></script>
<!--<script src="/exhibits-dashboard/static/app/exhibits.edit.form.module.js"></script>-->
<script>
    // exhibitsEditFormModule.init();
    exhibitsDetailsModule.init();
    exhibitsCommonFormModule.init();
    navModule.set_item_list_link();
    document.querySelector('#edit-exhibit-btn').addEventListener('click', (event) => {
        event.preventDefault();
        document.querySelector('.content').style.visibility = 'hidden';
        const exhibit_id = helperModule.get_parameter_by_name('exhibit_id');
        window.location.replace(`/exhibits-dashboard/exhibits/exhibit/edit?exhibit_id=${exhibit_id}`);
        return false;
    });
</script>
</body>
</html>
