<%- include('../partials/header.ejs'); %>
<body>
<%- include('../partials/nav-dashboard'); %>
<div id="right-panel" class="right-panel">
    <%- include('../partials/main-header.ejs'); %>
    <div class="content" style="min-height: 875px;">
        <div id="message"></div>
        <h1><span id="exhibit-title"></span> - Grid Media Item</h1>
        <%- include('partials/item-grid-item-data-card.ejs'); %>
        <div id="item-media-card" class="card">
            <div class="card-header">
                <strong class="card-title mb-3">Item Media</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 col-md-6">
                        <div id="item-media-display" class="media-preview-area">
                            <div class="media-placeholder">
                                <i class="fa fa-file-o"></i>
                                <span>No media selected</span>
                            </div>
                        </div>
                        <p>
                            <span id="item-media-filename-display"></span>&nbsp;&nbsp;
                            <span><a id="item-media-trash" title="Remove media" href="#"
                                     style="display:none"><i class="fa fa-trash"></i></a></span>
                        </p>
                        <input type="hidden" id="item-media-uuid" name="item_media_uuid">
                        <input type="hidden" id="item-media-uuid-prev" name="item_media_uuid_prev">
                        <input type="hidden" id="item-media-type" name="item_media_type">
                        <input type="hidden" id="item-mime-type" name="item_mime_type">
                        <button type="button" class="btn btn-outline-primary"
                                id="pick-item-media-btn">
                            <i class="fa fa-file-o"></i>&nbsp;Select Media
                        </button>
                    </div>
                    <div class="col-6 col-md-6">
                        <div id="thumbnail-image-display" class="media-preview-area">
                            <div class="media-placeholder">
                                <i class="fa fa-picture-o"></i>
                                <span>No image selected</span>
                            </div>
                        </div>
                        <p>
                            <span id="thumbnail-filename-display"></span>&nbsp;&nbsp;
                            <span><a id="thumbnail-trash" title="Remove thumbnail" href="#"
                                     style="display:none"><i class="fa fa-trash"></i></a></span>
                        </p>
                        <input type="hidden" id="thumbnail-media-uuid" name="thumbnail_media_uuid">
                        <input type="hidden" id="thumbnail-media-uuid-prev" name="thumbnail_media_uuid_prev">
                        <button type="button" class="btn btn-outline-primary"
                                id="pick-thumbnail-btn"
                                data-media-type-filter="image">
                            <i class="fa fa-picture-o"></i>&nbsp;Select Thumbnail
                        </button>
                    </div>
                </div>
                <%- include('../partials/embed-item.ejs'); %>
            </div>
        </div>

        <%- include('../partials/media-subjects.ejs'); %>
        <%- include('partials/item-layout-card.ejs') %>

        <div id="item-media-widths-card" class="card">
            <div class="card-header">
                <strong class="card-title mb-3">Item Media Widths</strong>
            </div>
            <div class="card-body">
                <%- include('../standard-items/partials/item-media-widths.ejs'); %>
            </div>
        </div>

        <div id="item-submit-card" class="card">
            <div class="card-body">
                <button class="btn btn-primary" type="button" id="save-item-btn">
                    <i class="fa fa-save"></i>&nbsp;&nbsp;Save
                </button>
            </div>
            <div class="card-footer text-muted"><small>Grid Item</small></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <%- include('../partials/footer.ejs'); %>
    <%- include('../partials/preview-html-modal.ejs'); %>
    <%- include('../partials/media-picker-modal.ejs'); %>
</div>
<!-- libs -->
<%- include('../partials/exhibits-libs-common.ejs'); %>
<!-- app -->
<%- include('../partials/exhibits-app-common.ejs'); %>
<script src="/exhibits-dashboard/static/app/dist/exhibits.module.min.js?<%=build_version%>"></script>
<script src="/exhibits-dashboard/static/app/dist/items.module.min.js?<%=build_version%>"></script>
<script src="/exhibits-dashboard/static/app/dist/media.picker.module.min.js?<%=build_version%>"></script>
<script src="/exhibits-dashboard/static/app/dist/items.common.grid.item.form.module.min.js?<%=build_version%>"></script>
<script src="/exhibits-dashboard/static/app/dist/items.add.grid.item.form.module.min.js?<%=build_version%>"></script>
<script>
    navModule.wire_nav_links();
    itemsCommonGridItemFormModule.init();
    itemsAddGridItemFormModule.init();
    mediaPickerModule.init();
</script>
</body>
</html>
