<%- include('../partials/header.ejs'); %>
<body>
<%- include('../partials/nav-dashboard'); %>
<div id="right-panel" class="right-panel">
    <%- include('../partials/main-header.ejs'); %>
    <main id="main" class="content" tabindex="-1">
        <h1 class="visually-hidden">Users</h1>
        <div id="message"></div>
        <div id="user-card" class="card">
            <div class="card-header">
                <strong class="card-title mb-3">User Profiles</strong>
            </div>
            <div class="card-body">
                <table id="users" class="display compact">
                    <thead>
                    <tr>
                        <th>User</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody id="user-data"></tbody>
                </table>
            </div>
        </div>
    </main>
    <div class="clearfix"></div>
    <%- include('../partials/footer.ejs'); %>
</div>
<!-- libs -->
<%- include('../partials/exhibits-libs-common.ejs'); %>
<script src="/exhibits-dashboard/static/libs/data_tables/datatables.min.js"></script>
<!-- app -->
<%- include('../partials/exhibits-app-common.ejs'); %>
<script src="/exhibits-dashboard/static/app/dist/user.module.min.js?<%=build_version%>"></script>
<script>
    navModule.init();
    userModule.display_user_records();
</script>
</body>
</html>