<%- include('../partials/header.ejs'); %>
<style>
    .color-picker {
        background-color: none;
        outline: none;
        border: 1px solid grey;
        height: 38px;
        width: 50px;
        cursor: pointer;
    }
    #cancel-exhibit-btn {
        min-width: 100px;
    }
</style>
<body>
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu">
            <ul class="nav navbar-nav">
                <li class="menu-title">Menu</li>
            </ul>
            <ul class="nav navbar-nav"><li id="preview-link"></li></ul>
            <ul class="nav navbar-nav">
                <li>
                    <a id="back-to-items" href="#" data-keyboard="false">
                        <i class=" menu-icon fa fa-arrow-left"></i>Back to Exhibit Items</a>
                </li>
            </ul>
            <ul id="items-menu" class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" id="logout" data-keyboard="false">
                        <i class="menu-icon fa fa-sign-out"></i>Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</aside>
<div id="right-panel" class="right-panel">
    <%- include('../partials/main-header.ejs'); %>
    <div class="content" style="min-height: 875px;">
        <div id="message"></div>
        <h1><span id="exhibit-title"></span> - Heading</h1>
        <%- include('partials/item-heading-data-card.ejs'); %>
        <div id="heading-styles-card" class="card">
            <div class="card-header">
                <strong class="card-title mb-3">Heading Styles</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 col-md-6">
                        <p>
                        <div class="form-text text-muted" style="font-size: 17px">
                            <label for="heading-background-color">Heading Background Color</label>
                        </div>
                        </p>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <input title="Color Picker" class="color-picker btn btn-default" type="color"
                                       id="heading-background-color-picker" value="#ffffff">
                            </div>
                            <input type="text" id="heading-background-color" name="heading_background_color"
                                   placeholder="i.e. #FFFFFF" class="form-control" style="height: 40px">

                        </div>
                    </div>
                    <div class="col-6 col-md-6">
                        <p>
                        <div class="form-text text-muted" style="font-size: 17px">
                            <label for="heading-font-color">Heading Font Color</label>
                        </div>
                        </p>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <input title="Color Picker" class="color-picker btn btn-default" type="color"
                                       id="heading-font-color-picker"
                                       value="#ffffff">
                            </div>
                            <input type="text" id="heading-font-color" name="item_font_color"
                                   placeholder="i.e. #FFFFFF" class="form-control" style="height: 40px">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-6">
                        <p>
                        <div class="form-text text-muted" style="font-size: 17px">
                            <label for="heading-font-size">Heading Font Size</label>
                        </div>
                        </p>
                        <div class="input-group">
                            <input type="number" id="heading-font-size" name="heading_font_size"
                                   placeholder="" class="form-control" min="1" max="50" style="height: 40px">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">px</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-6">
                        <p>
                        <div class="form-text text-muted" style="font-size: 17px">
                            <label for="heading-font">Heading Font</label>
                        </div>
                        </p>
                        <div class="input-group">
                            <select name="heading_font" id="heading-font"
                                    class="form-control-lg form-control text-muted" style="height: 40px">
                                <option value="">Select From Menu</option>
                                <option value="">----------</option>
                                <%- include('../exhibits/partials/exhibit-fonts-options-list.ejs'); %>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="is-published" name="is_published">
        <div id="item-submit-card" class="card">
            <div class="card-body">
                <button class="btn btn-primary" type="button" id="save-heading-btn">
                    <i class="fa fa-save"></i>&nbsp;&nbsp;Save
                </button>
                <button class="btn btn-outline-secondary ms-2" type="button" id="cancel-exhibit-btn">
                    <i class="fa fa-times"></i>&nbsp;&nbsp;Cancel
                </button>
            </div>
            <div class="card-footer text-muted"><small>Heading</small></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <%- include('../partials/footer.ejs'); %>
    <%- include('../partials/preview-html-modal.ejs'); %>
</div>
<!-- libs -->
<%- include('../partials/exhibits-libs-common.ejs'); %>
<!-- app -->
<%- include('../partials/exhibits-app-common.ejs'); %>
<script src="/exhibits-dashboard/static/app/dist/exhibits.module.min.js?<%=build_version%>"></script>
<script src="/exhibits-dashboard/static/app/dist/items.module.min.js?<%=build_version%>"></script>
<script src="/exhibits-dashboard/static/app/dist/items.common.heading.form.module.min.js?<%=build_version%>"></script>
<script src="/exhibits-dashboard/static/app/dist/items.edit.heading.form.module.min.js?<%=build_version%>"></script>
<script>
    itemsEditHeadingFormModule.init();
    itemsCommonHeadingFormModule.init();

    const exhibit_id = helperModule.get_parameter_by_name('exhibit_id');
    const cancel_exhibit_btn = document.getElementById('cancel-exhibit-btn');

    cancel_exhibit_btn.addEventListener('click', function () {
        const has_unsaved_changes = check_for_unsaved_changes();
        if (has_unsaved_changes) {
            const confirm_cancel = confirm('Discard unsaved changes and return to the exhibit item list?');
            if (!confirm_cancel) return;
        }
        // Redirect
        window.location.href = `/exhibits-dashboard/items?exhibit_id=${exhibit_id}`;
    });

    function check_for_unsaved_changes() {
        const inputs = document.querySelectorAll('input, textarea, select');
        return Array.from(inputs).some(input => input.defaultValue !== input.value);
    }

</script>
</body>
</html>
